.font1 {
  font-family: "Inter";
}
.font2 {
  font-family: "Inter";
}
.fw300 {
  font-weight: 300;
}
.color1 {
  color: #092c58;
}
.lh64 {
  line-height: 64px;
}
.lh45 {
  line-height: 45px;
}
.lh36 {
  line-height: 36px;
}
.custom-font {
  font-size: 3rem;
}
.custom-font-2 {
  font-size: 2rem;
}
.custom-font-1 {
  font-size: 1.5rem;
}
.frame {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.zoomin img {
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.prodet:hover img {
  -webkit-transform: scale(1.15); /* Safari and Chrome */
  -moz-transform: scale(1.15); /* Firefox */
  -ms-transform: scale(1.15); /* IE 9 */
  -o-transform: scale(1.15); /* Opera */
  transform: scale(1.15);
}
a.prodet:hover .arrowset {
  opacity: 1;
}
.arrowset {
  opacity: 0;
}
a {
  text-decoration: none;
}
.bg-primary-custom {
  background-color: #092c58;
}
.color3 {
  color: #fff;
}
.footer {
  background: #11171f;
  padding: 60px 0;
  font-size: 14px;
}
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 25px;
  bottom: 25px;
  z-index: 99999;
  background: #092c58;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top svg {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
